{

  "resources":[

    {

      "path":"assets/",

      "resourceType":"resource"

    },

    {

      "path":"assets/gui/",

      "resourceType":"gui"

    }

  ],

  "defaultConfig":{

    "buildType":"develop",

    "api":"CoreEngine",

    "libraryDir":"core/lib/",

    "resourcePacksDir":"core/ScriptSpace/ScriptPack/",

    "behaviorPacksDir":"core/ScriptSpace/ScriptProgramma/"

  },

  "buildDirs":[

    {

      "targetSource":"main.js",

      "dir":"core/dev/"

    }

  ],

  "compile":[

    {

      "path":"main.js",

      "sourceType":"mod"

    },

    {

      "path":"launcher.js",

      "sourceType":"launcher"

    }

  ],

  "nativeDirs":[],

  "javaDirs":[]

}
